.shiny-text {
    color: var(--text-hover);
    position: relative;
    display: inline-block;

    padding-top: 60px;
    font-size: larger;
    font-weight: 600;
    background-size: 200% 100%;
    background-clip: text;
    -webkit-background-clip: text;
    animation: shine 5s linear infinite;
  }
  
  /* Light theme (default) */
  .shiny-text {
    background-image: linear-gradient(
      120deg,
      var(--text-hover) 40%,
      var(--text-color) 50%,
      var(--text-hover) 60%
    );
    color: var(--text-hover);
    -webkit-text-fill-color: transparent;
  }
  
  /* Dark theme */
  [data-theme="dark"] .shiny-text {
    background-image: linear-gradient(
      120deg,
      var(--text-hover) 40%,
      var(--text-color) 50%,
      var(--text-hover) 60%
    );
    color: var(--text-hover);
    -webkit-text-fill-color: transparent;
  }
  
  @keyframes shine {
    0% {
      background-position: 200% center;
    }
    100% {
      background-position: -200% center;
    }
  }
  
  .shiny-text.disabled {
    animation: none;
    background: none;
    -webkit-text-fill-color: var(--text-hover);
  }